
// *{
//     padding: 0px;
//     margin: 0px;
// }
.button-section{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    border: 0.3rem solid #795548;
    
}
button{
    font-size: 1.5rem;
    background-color: #9e9e9e;
    color: white;
    box-shadow: 3px 3px grey;
}

.click-count-section{
    font-size: x-large;
    color: green;
    border: 0.3rem solid #795548;
}
span{
    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
}
button:hover{
    background-color: black;
    color: white;
    
}